extends markdown


snippet day
# Will Do Today:
## Daily Improvement
- [ ] ${1:tasks}

## Day Goals
- [ ]
endsnippet

snippet [
[${1:text}](${2:address})
endsnippet

snippet bbl "bookmark backlog template"
### ${1:title}
* Author: ${2:author}
* URL:  ${3:URL}
* Status: ${4:status}
* Input Date: ${5:Date}
* Tags: ${6:tags}
* Description: ${7:Description}
endsnippet

# vim:ft=snippets:
